<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @user.Title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @user.Body %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
